---
layout: layouts/project.njk
permalink: "projects/forlorn.html"

intro:
  title: "Forlorn"
  summary: "Forlorn is a narrative-driven adventure game set in a post-apocalyptic world. Players must navigate through a desolate landscape, uncovering the story of the last remnants of humanity."
  chips:
    - "Team size: 1"
    - "Time Frame: 1 billion weeks"
    - "Engine: Unity (C#)"
  actions:
    - { label: "Play on itch.io", href: "https://gfigueira.itch.io/forlorn", primary: false }
  header_gif: "/assets/gifs/TND.gif"
  header_alt: "Gameplay loop overview"

sections:
  - type: "text"
    heading: "Introduction"
    text: |
      This was the bigger final project for the Games and Simulations university course. We were given full creative freedom and so we decided to try and create a relatively ambitious action-adventure first person shooter, set in a steampunk desert world. The player can explore the desert in a hover board, fight AI enemies and solve puzzles inside of procedurally generated underground mazes.

      The following sections showcase some of my core contributions to the project.

  - type: "text"
    heading: "Source Code"
    text: |
      You can find the full source code for this project in the following Git repository:

      **GamesAndSimulation / ia2024-60288-guilhermeFigueira**

      [Visit repository ↗](https://github.com/GamesAndSimulation/ia2024-60288-guilhermeFigueira)
---
