---
layout: layouts/project.njk
permalink: "projects/forlorn.html"

intro:
  title: "Forlorn"
  summary: "Forlorn was developed as an individual project assignment for the Games and Simulations course at Nova University."
  chips:
    - "Team size: 1"
    - "Time Frame: 2.5 weeks"
    - "Engine: Unity (C#)"
  actions:
    - label: "Source Code"
      href: "https://github.com/GamesAndSimulation/ia2024-60288-guilhermeFigueira"
      primary: false
      icon: "/assets/icons/github.svg"        # file icon
      icon_class: "w-5 h-5 dark:invert"
    - label: "Play on itch.io"
      href: "https://gfigueira.itch.io/forlorn"
      primary: false
      icon: "/assets/icons/itchdotio.svg"        # file icon
      icon_class: "w-5 h-5 dark:invert"
  header_gif: "/assets/gifs/Forlorn.gif"
  header_alt: "Gameplay loop overview"

sections:
  - type: "text"
    heading: "Introduction"
    text: |
      This was the bigger final project for the Games and Simulations university course. We were given full creative freedom and so we decided to try and create a relatively ambitious action-adventure first person shooter, set in a steampunk desert world. The player can explore the desert in a hover board, fight AI enemies and solve puzzles inside of procedurally generated underground mazes.

      The following sections showcase some of my core contributions to the project.

  - type: "video"
    heading: "Video Presentation"
    text: "When delivering the project, every student was required to make a very short video containing a short trailer followed by a brief explanation and showcase of the gameplay features implemented. You can watch the video report on my project below."
    youtube_id: "0gylCY4qVOY"

  - type: "text"
    heading: "What I learned"
    text: |
      In this project, I learned how useful prototyping can be and how much time and effort it can save in the long run. It was generally a fun and simple project so there weren't really many exciting technical challenges I can mention.

      Considering this was a university project, it made me actually have to finish the game instead of throwing it in my pile of overly ambitious unfinished game projects. And this was a big lesson for me! Keeping scopes small and actually finishing them is often better than working on overly ambitious projects that will inevitably never see the light of day.

  - type: "source"
    heading: "Source Code"
    provider: "GitHub"
    repo: "GamesAndSimulation / ia2024-60288-guilhermeFigueira"
    url: "https://github.com/GamesAndSimulation/ia2024-60288-guilhermeFigueira"
    note: "You can find the full source code in the following Git repository."

---
