---
layout: layouts/project.njk
permalink: "projects/just-click-start.html"

intro:
  title: "Just Click Start"
  summary: "A small side-scroller platform 2D game made for a game jam with a team of 4 people."
  chips:
    - "Team size: 4"
    - "Time Frame: 2 days"
    - "Engine: Unity (C#)"
  actions:
    - label: "Play on itch.io"
      href: "https://ravenzer0.itch.io/just-click-start"
      primary: false
      icon: "/assets/icons/itchdotio.svg"        
      icon_class: "w-5 h-5 dark:invert"
  header_gif: "/assets/gifs/JustClickStart_Reel.gif"
  header_alt: "Gameplay loop overview"

sections:
  - type: "text"
    heading: "Introduction"
    text: |
      This game was made for the <i>Inbound Shovel Jam 2025</i> game jam, which had the theme of "Just Get Started". Although this was a 10-day game jam, due to scheduling issues, we ended up developing the entire game in the last 2 days of the jam. Our team was composed of 4 people, all programmers. 

  - type: "video"
    heading: "Video Presentation"
    text: "This video shows a walkthrough of the full game."
    youtube_id: "-rXd_Noljxw"

  - type: "text"
    heading: "Development"
    text: |
      We divided the work roughly as follows: one of us worked on all of the art assets, another on the music and sound effects, and me and another teammate stayed focused on programming and level design. After the art and music were done, everyone helped finish the programming and level design. <br><br>
      
      My main contributions were the player controller, the <b>collider collection mechanic</b>, which is a mechanic where the colliders of certain objects in the level can be collected and used in other objects to solve very simple puzzles, and the level arrangement of the first half of the game.


  - type: "text"
    heading: "What I learned"
    text: |
      This was my first game jam experience, and it taught me a lot about working under tight deadlines and collaborating effectively with a team. We were mostly in it for fun, and to challenge ourselves to create a complete game in a very short amount of time. We ended up having a great time and the game turned out better than we expected, considering the time constraints.

---
