---
layout: layouts/project.njk
permalink: "projects/opengl-3d-renderer.html"

intro:
  title: "OpenGL 3D Renderer (WIP)"
  summary: "Simple 3D renderer built from scratch with OpenGL and C++."
  chips:
    - "Team size: 1"
    - "Time Frame: On Going"
    - "Tools: C++, OpenGL, ImGui"
  header_gif: "/assets/gifs/OpenGL.gif"
  header_alt: "Showcase overview"

sections:
  - type: "text"
    heading: "Introduction"
    text: |
      This is a personal project where I am building a simple 3D renderer from scratch using C++ and OpenGL. The goal of this project is to deepen my understanding of graphics programming and the underlying principles of 3D rendering and game engines. 
      <br><br>
      For this project I am following the amazing 
      
      <a href="https://learnopengl.com/"
      class="text-emerald-700 dark:text-emerald-300 underline-offset-2 decoration-emerald-400/40
          hover:underline focus:underline hover:text-emerald-800 dark:hover:text-emerald-200
          focus:outline-none focus-visible:ring-2 focus-visible:ring-emerald-400/60 rounded-sm"
      target="_blank" rel="noopener noreferrer">Learn OpenGL</a>
      
      online book as a guide while also taking creative liberties to implement additional features.
      So far I have implemented basic rendering of <strong>textured 3D cubes</strong>, <strong>flying camera controls</strong>, a simple <strong>settings UI</strong> using ImGui and a <strong>fog effect</strong>.
      <br><br>
      My goal is to keep growing this project into a simple 3D engine that I can use to make games in the future. The idea of having an engine that I fully understand and with an architecture designed by me is very appealing.
  - type: "video"
    heading: "Video Presentation"
    text: "A short video showcasing the current state of the project."
    youtube_id: "UMGGPG60SzM"

  - type: "text"
    heading: "What I learned"
    text: |
      This project taught me a lot about the fundamentals of 3D graphics programming and the graphics pipeline. I had never worked directly with OpenGL before, so implementing basic 3D rendering techniques from scratch taught me a lot about how graphics APIs work under the hood.

  - type: "source"
    heading: "Source Code"
    provider: "GitHub"
    repo: "grfigueira / Papoila-Engine"
    url: "https://github.com/grfigueira/Papoila-Engine"
    note: "You can find the full source code in the following Git repository."

---
