---
layout: layouts/project.njk
permalink: "projects/papoila-3d-engine.html"

intro:
  title: "Papoila Game Engine (WIP)"
  summary: "Simple 3D game engine built from scratch with OpenGL and C++."
  chips:
    - "Team size: 1"
    - "Time Frame: Ongoing (since January 2026)"
    - "Tools: C++, OpenGL, GLFW, ImGui"
  actions:
    - label: "Source Code"
      href: "https://github.com/grfigueira/Papoila-Engine"
      primary: false
      icon: "/assets/icons/github.svg"        # file icon
      icon_class: "action-icon action-icon--invert"
  header_gif: "/assets/gifs/OpenGL.gif"
  header_alt: "Showcase overview"

sections:
  - type: "text"
    heading: "Introduction"
    text: |
      This is a personal project where I am building a simple 3D game engine from scratch using C++ and OpenGL. The goal of this project is to deepen my understanding of graphics programming and underlying game engine architecture. No better way to learn how game engines work than building one myself.
      <br><br>
      For this project I am following the amazing 
      
      <a href="https://learnopengl.com/"
      class="copy-link"
      target="_blank" rel="noopener noreferrer">Learn OpenGL</a>
      
      online book as a guide while also taking creative liberties to implement additional features.

      So far I have implemented <i>assimp</i> model loading, textured mesh rendering, phong lighting, cubemap skyboxes, editor camera controls, a basic editor GUI, and built in proximity dithering because why not.
      
      <br><br>

      My goal is to keep growing this project into a proper small 3D engine that I can use to make games in the future. Eventually I also want to play around with adding LUA scripting, FMOD integration for audio (<i>because no one does it better than them</i>) and Box3D physics integration.

  - type: "video"
    heading: "Video Presentation"
    text: "A short video showcasing a very early and primitive version. I don't currently have a more up to date video"
    youtube_id: "UMGGPG60SzM"

  - type: "text"
    heading: "What I learned"
    text: |
      This project taught me a lot about the fundamentals of 3D graphics programming. I had never worked directly with OpenGL before, so implementing basic 3D rendering techniques from scratch gave me a better understanding of how real-time rendering works, giving me valuable insights into how engines like Unity and Unreal function under the hood. This was also around the time I started reading the 
      <a href="https://www.gameenginebook.com/"
      class="copy-link"
      target="_blank" rel="noopener noreferrer">Game Engine Architecture</a>
      book by Jason Gregory, which further solidified my understanding of game engines.

  - type: "source"
    heading: "Source Code"
    provider: "GitHub"
    repo: "grfigueira / Papoila-Engine"
    url: "https://github.com/grfigueira/Papoila-Engine"
    note: "You can find the full source code in the following Git repository."

---
