---
layout: layouts/project.njk
permalink: "projects/TheShapeOfSilence.html"

intro:
  title: "The Shape Of Silence"
  summary: ""
  chips:
    - "Team size: 1"
    - "Time Frame: Ongoing"
    - "Tools: Unreal Engine 5, C++, FMOD"
  header_gif: "/assets/gifs/EasyDialogueEditor.gif"
  header_scale: 1 
  header_alt: "Usage overview"

sections:

  - type: "video"
    heading: "Video Showcase"
    text: "I uploaded a short video announcing the release of the project on Youtube. It showcases some the program's features."
    youtube_id: "M8uM_cWPmNM"

---
